{% extends "layout.html" %}
{% block head_extras %}
  <link rel="stylesheet" href="{{ '/static/blog.css'|url }}">
{% endblock %}
{% from "macros/blog.html" import post_rework %}
{% from "macros/pagination.html" import render_pagination %}
{% from "macros/page-title.html" import render_page_title %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {{ render_page_title('Blog', 'blog') }}
  <div class="post-list size-post-items">
  {% for child in this.pagination.items %}
    {{ post_rework(child) }}
  {% endfor %}
  </div>
  {{ render_pagination(this.pagination) }}
{% endblock %}
