<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ '/static/global.css'|url }}">
<link rel="stylesheet" href="{{ '/static/pygments.css'|url }}">
<link rel="icon" href="{{ '/favicon.ico'|url }}" type="image/gif"/>
{% block head_extras %}{% endblock %}
<title>{% block title %}Welcome{% endblock %} — dovydas.xyz</title>
<body>
  <header>
    <nav class="navbar">
 <div class="logo">dovydas.xyz</div>
      <ul class="nav-links">
        <div class="menu">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Home</a></li>
        {% for href, title in bag('main-nav').items() %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
          </div >
      </ul>
    </nav>

  </header>
  <div class="page"></div>
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2022 by D.G.
  </footer>
</body>
