<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block css %}
  <link rel="stylesheet" href="{{ '/static/water.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
  {% endblock %}
  {% block head_extras %}{% endblock %}
  <link rel="icon" href="{{ '/favicon.ico'|url }}" type="image/gif"/>
  <title>{% block title %}Welcome{% endblock %} — dovydas.xyz</title>
</head>
<body>
  {% from "macros/navbar.html" import render_navbar %}
  {% block navbar %}{{ render_navbar() }}{% endblock %}
  {% block page_title %}{% endblock %}
  <main>
      {% block body %}{% endblock %}
  </main>
  {% block body_extras %}{% endblock %}
  {% block footer %}
  <footer style="text-align: center; margin-top: 2rem; font-style: italic;">
    <small>&copy; Copyright 2022 by D.G.</small>
  </footer>
  {% endblock %}
  {% block script %}{% endblock %}
</body>
