{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}
{% block head_extras %}
{% if this.css_file %}
<link rel="stylesheet" href="{{ this.css_file|url }}">
{% endif %}
{% endblock %}

{%block navbar %}{% endblock %}
{% block flow_head %}
<h1>{{ this.name }}</h1>
{{ this.flow_head }}
{% endblock %}
{% block body %}{{ this.body }}{% endblock %}
{% block flow_tail %}{{ this.flow_tail }}{% endblock %}

{% block script %}<script type="text/javascript" src="{{ this.js_file|url }}"></script>{% endblock %}
