{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {{ post.body }}
  <p class="meta">
    written by
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    on {{ post.pub_date }}
  </p>
  </div>
{% endmacro %}


{% macro render_post_preview(post) %}
    <li><a href="{{ post|url }}">{{ post.pub_date }} {{ post.title }}</a></li>
{% endmacro %}

{% macro post_rework(post) %}
<div class="post-card center">

<a class="post-container" href="{{ post|url }}">
  <div class="post-title">{{ post.title }}</div>

  {% if post.attachments.images.get('cover.png') %}
    <img class="post-img" src="{{ post.attachments.images.get('cover.png')|url }}"> </img>
  {% else %}
    <img class="post-img" src="{{ '/static/fallback.png'|url }}"> </img>
  {% endif %}

  <div class="post-text">{{ post.body.html | striptags | truncate(length=160, killwords=False, end='...')}}</div>
  <div class="post-published">{{ post.pub_date }}</div>
</a>
  
</div>
{% endmacro %}