{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {{ post.body }}
  <p class="meta">
    written by
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    on {{ post.pub_date }}
  </p>
  </div>
{% endmacro %}


{% macro post_rework(post) %}
<article>
    <p class="post-meta">Published {{ post.pub_date|dateformat }}{% if post.edit_date %} · Updated on {{ post.edit_date|dateformat }}{% endif %}</p>
    <a href="{{ post|url }}">
      <h2>{{ post.title }}</h2>
    </a>
    <p class="excerpt">{{ post.body.html | striptags | truncate(length=255, killwords=False, end='...')}}
      <a href="{{ post|url }}">More</a>
    </p>
</article>
{% endmacro %}


{% macro post_rework_old(post) %}
<article>
<!-- <p>{{ post.pub_date }}</p> -->

<h2>
{% if post.cover_image %}
  <img class="h-icon" src="{{ post.attachments.images.get(post.cover_image)|url }}"></img>
{% else %}
  <img class="h-icon" src="{{ '/static/fallback.png'|asseturl }}"></img>
{% endif %}
  <span class="h-middle"><a href="{{ post|url }}">{{ post.title }}</a></span>
  </h2>
  <p>{{ post.body.html | striptags | truncate(length=255, killwords=False, end='...')}}
    <a href="{{ post|url }}">More</a></p>
</article>
{% endmacro %}