{% macro render_navbar() %}
<nav class="navbar">
    <ul class="navbar-nav">
        <li class="logo">
            <a href="/" class="nav-link">
                <svg class="home-logo">
                    <use href="{{ '/static/logo.svg'|url }}#home"></use>
                </svg>
                <svg class="logo-snail">
                    <use href="{{ '/static/logo.svg'|url }}#snail"></use>
                </svg>
                <svg id="page-logo">
                    <use href="{{ '/static/logo.svg'|url }}#dovydasxyz"></use>
                </svg>
            </a>
        </li>
        {% for href, title in bag('navbar-nav').items() %}
        <li class="nav-item">
            <a href="{{ href|url }}" class="nav-link">
                <svg>
                    <use href="{{ '/static/logo.svg'|url }}#{{ href.lstrip('/') }}"></use>
                </svg>
                <span class="link-text">{{ title }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endmacro %}