{% macro render_page_title(title, symbol) %}
<h1 style="text-align: center">
  <svg class="h-icon"> 
    <use href="{{ '/static/logo.svg'|url }}#{{ symbol }}"></use>
  </svg>
  <span class="h-middle">{{ title }}</span>
</h1>
{% endmacro %}

{% macro render_title_post(post, from_index=false) %}

<h1 style="text-align: center;">
{% if post.attachments.images.get('cover.png') %}
  <img class="h-icon" src="{{ post.attachments.images.get('cover.png')|url }}"></img>
{% else %}
  <img class="h-icon" src="{{ '/static/fallback.png'|url }}"></img>
{% endif %}
  <span class="h-middle">{{ post.title }}</span>
</h1>
{% endmacro %}