{% macro render_pagination(pagination) %}
  <div class="container-pagination">
    <div class="item-col-3">
    {% if pagination.has_prev %}
      <a class="enabled" href="{{ pagination.prev|url }}"><i class="arrow left enabled"></i>Previous</a>
    {% else %}
      <a class="hidden" href="#"><i class="arrow left"></i>Previous</a>
    {% endif %}
    </div>

    <div class="item-col-3">
    {{ pagination.page }} of {{ (pagination.total//pagination.per_page)+1}}
    </div>

    <div class="item-col-3">
    {% if pagination.has_next %}
        <a class="enabled" href="{{ pagination.next|url }}">Next<i class="arrow right enabled"></i></a>
    {% else %}
        <a class="hidden" href="#">Next<i class="arrow right"></i></a>
    {% endif %}
    </div>
  </div>
{% endmacro %}

