{% macro render_pagination(pagination) %}
<div style="margin: 2em;">
  <div style="display: flex;">
    <div style="flex: 1">
    {% if pagination.has_prev %}
      <a href="{{ pagination.prev|url }}"><i class="arrow left"></i>Previous</a>
    {% else %}
      <a style="display: none;" href="#"><i class="arrow left"></i>Previous</a>
    {% endif %}
    </div>

    <div style="flex: 1; text-align: center;">
    {{ pagination.page }} of {{ (pagination.total//pagination.per_page)+1}}
    </div>

    <div style="flex: 1; text-align: right;">
    {% if pagination.has_next %}
        <a href="{{ pagination.next|url }}">Next<i class="arrow right"></i></a>
    {% else %}
        <a style="display: none;" href="#">Next<i class="arrow right"></i></a>
    {% endif %}
    </div>
  </div>
</div>
{% endmacro %}

