{% macro song_card(post) %}
<article class="song-card">
  <div class="flex-container post-meta">
    <svg class="h-icon-16px">
      <use href="{{ '/static/logo.svg'|url }}#created"></use>
    </svg>
    <div id="date-published">{{ post.pub_date|dateformat }}</div>
  </div>

  <div class="player">
    <div class="cover">
      <img src="{{ post.attachments.images.get(post.cover_image)|url }}" />
    </div>
    <div style="margin-top: auto" id="song-title" class="flex-container song-title">
      {{ post.title }}
    </div>
    <audio controls>
      <source
        src="{{ post.attachments.audio.get(post.track)|url }}"
        type="{{ post.attachments.images.get(post.track).format }}"
      />
      Your browser does not support the audio tag.
    </audio>
  </div>
</article>
{% endmacro %}
