{% macro song_card(post) %}
<article class="song-card">
  <div class="flex-container post-meta">
    <svg class="h-icon-16px">
      <use href="{{ '/static/logo.svg'|url }}#created"></use>
    </svg>
    {% if post.pub_date %}
    <div id="date-published">{{ post.pub_date|dateformat }}</div>
    {% else %}
    <div id="date-published"></div>
    {% endif %}
  </div>

  <div class="player">
    <div class="cover">
      {% if post.cover_image %}
      <img src="{{ post.attachments.images.get(post.cover_image)|url }}" />
      {% else %}
      <img src="{{ '/static/fallback.png'|asseturl }}" />
      {% endif %}
    </div>

    <div
      style="margin-top: auto"
      id="song-title"
      class="flex-container song-title"
    >
      {{ post.title }}
    </div>
    <audio controls>
      <source
        src="{{ post.attachments.audio.get(post.track)|url }}"
        type="{{ post.attachments.images.get(post.track).format }}"
      />
      Your browser does not support the audio tag.
    </audio>
  </div>
</article>
{% endmacro %}
