a {
    color: var(--blue);
}

a:visited {
    color: var(--dark_blue);
}

a:hover {
    text-decoration: underline;
}

video {
    max-width: inherit;
}

h2,
h3,
h4,
h5 {
    color: var(--white);
    text-align: left;
    font-weight: bold;
    font-style: italic;
    padding-top: 1em;
}

h2:after 
{
  content: "";
  display: inline-block;
  height: 0.2em;
  position: relative;
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  background-color: var(--white);

  }

hr{
  color: var(--white);
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}


footer {
    margin-top: 1em;
    text-align: center;
	border-top: 1px solid var(--white);
	padding-top: 1em;
	width: auto;
	max-width: none;
/* 	font-size: smaller; */
}


img {
    max-width: 100%;
    width: 100%;
    /* margin: auto; */
    margin: 1em;
    display: block;
}

code {
    color: var(--light_peach);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: 400;
}

pre code {
    background: var(--light_peach);
    color: var(--black);
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    border-radius: 0.2em;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
}


.codehilite .c1 {
    color: var(--pink);
}

#postlist {
    margin: 1em;
    
}

#postlist li a {
    text-decoration: none;
    font-weight: 800;
    display: block;

}


#postlist *:hover {
    text-decoration: underline;
}

@media (prefers-color-scheme: light) {
    body {
        background: white;
        color: black;
    }
    a {
        color: blue;
    }
    a:visited {
        color: purple;
    }
    h2 {
        color: inherit;
    }
    code {
        color: forestgreen;
    }
}

@media print {
    a[href] {
        text-decoration: none;
        color: black;
    }
}

@media (min-width: 55em) {
    #postlist {
        column-count: 1;
    }
}

@media (min-width: 100em) {
    #postlist {
        column-count: 2;
    }
}