a {
    color: var(--blue);
}

/* a:visited {
    color: var(--dark_blue);
} */

a:hover {
    text-decoration: underline;
}

video {
    max-width: inherit;
}

h2,
h3,
h4,
h5 {
    color: var(--white);
    text-align: left;
    font-weight: bold;
    font-style: italic;
    padding-top: 1em;
}

h2:after 
{
  content: "";
  display: inline-block;
  height: 0.2em;
  position: relative;
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  background-color: var(--white);

  }

hr{
  color: var(--white);
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}


img {
    max-width: 100%;
    width: 100%;
    /* margin: auto; */
    margin: 1em;
    display: block;
}

code {
    color: var(--light_peach);
    font-family: var(--font-monospace);
    font-size: 1em;
    font-weight: 400;
}

pre code {
    background: var(--light_peach);
    color: var(--black);
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    border-radius: 0.2em;
    overflow: auto;
    font-family: var(--font-monospace);
}


/* .codehilite .c1 {
    color: var(--pink);
} */

/* Blog Post Preview & Pagination */
.post-preview h2{
    font-family: var(--font-monospace);
    color: var(--light_peach);
}

.post-list {
    margin: 1em;
}

.post-list li a {
    text-decoration: none;
    color: var(--light_peach);
}

.post-list *:hover {
    text-decoration: underline;
    background-color: var(--dark_blue);
    border-radius: 2px;
    padding: 3px;
}

.container-pagination {
   display: flex; 
   justify-content: space-between; 
   flex-wrap: wrap; 
   background: var(--black);
   color: var(--white);
   font-weight: bold;
   /* border-top: 0.5em solid var(--white); */
   padding: .75em;
   border-radius: 0.2em;
}

.item-col-3 a:visited {
    color: var(--white);
}

.disabled{
    color: var(--light_grey);
}

/* Table CSS */

table {
    margin-top: 1em;
    width: 100%;
    border-collapse:separate;
    border:solid var(--white) 1px;
    border-radius: 0.2em;
}

td, th {
    border-left:solid var(--black) 1px;
    border-top:solid var(--black) 1px;
    padding: 4px;
}

th {
    /* background-color: var(--black); */
    border-top: none;
    font-weight: bold;
}

td:first-child, th:first-child {
     border-left: none;
}

tbody tr:nth-child(odd){
  background-color: var(--dark_blue);
  color: var(--white);
}

@media (prefers-color-scheme: light) {
    body {
        background: white;
        color: black;
    }
    a {
        color: blue;
    }
    a:visited {
        color: purple;
    }
    h2 {
        color: inherit;
    }
    code {
        color: forestgreen;
    }
}

@media print {
    a[href] {
        text-decoration: none;
        color: black;
    }
}

@media (min-width: 55em) {
    .post-list {
        column-count: 1;
    }
}

@media (min-width: 100em) {
    .post-list {
        column-count: 2;
    }
}


/* Desktops: flexbox child columns */
@media (min-width:768px) {
    .item-col-3 {
        width: 15%;
        text-align: center;
                }
}

/* Phones: flexbox child columns */
@media (max-width:768px) {
    .item-col-3 {
        width: 100%;
        text-align: center;
                }
}