:root {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    --font-monospace: 'Courier New', Courier, monospace;
    --font-sans-serif: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    --black: #000000;
    --dark_blue: #1D2B53;
    --dark_purple: #7E2553;
    --dark_green: #008751;
    --brown: #AB5236;
    --dark_grey: #5F574F;
    --light_grey: #C2C3C7;
    --white: #FFF1E8;
    --red: #FF004D;
    --orange: #FFA300;
    --yellow: #FFEC27;
    --green: #00E436;
    --blue: #29ADFF;
    --lavender: #83769C;
    --pink: #FF77A8;
    --light_peach: #FFCCAA;
    --text-primary: var(--white);
    --text-secondary: var(--light_peach);
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

strong, b {
    font-weight: 700;
}

em, i {
    font-style: italic;
}



html {
    margin: 0 auto;
}


a {
    color: inherit;
    text-decoration: underline;
}


dt {
    margin-top: 1em;
    font-weight: bold;
}


html, body {
    color: var(--white);
    background: var(--black);
    line-height: 1;
}

video{
    max-width: 700px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

footer {
    margin-top: 1rem;
    text-align: center;
	padding-top: 1rem;
	width: auto;
	max-width: none;
	font-size: smaller;
}

p{
    margin-top: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

/* List item normalization */

ul,ol,dl,p {
  font-size: 1rem;
}

dd, dt, p {
  line-height: 1.3;
}


dt {
  font-weight: bold;
}

dd{
    margin-left: 2rem;
}

ul, ol{
    margin-top: 1rem;
    margin-left: 2rem;
    padding-left: 0;

}

ul li {
    list-style: square;
}


ol{
    list-style-position: inside;
}

/* list settings */

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

h2 {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
}

h3 {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5em;
    line-height: 1.3;
}

/* https://github.com/fireship-io/222-responsive-icon-nav-css/blob/master/public/style.css */
main {
    /* same as navbar */
   /* margin-left: 5rem;   */
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}


/* global header styles */
header h1{
    margin-top: 1rem;
	font-size: 3.4rem;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
}

header q{
	text-align: center;
	font-size: 1.12rem;
	font-style: italic;
}

body {
    margin-bottom: 2rem;
}

footer {
    margin-top: 3rem;
}

.line{
    margin-top: 1rem;
	border-top: 1px solid var(--white);
	width: auto;
	max-width: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    /* forces the navbar to be in fixed position */
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    overflow: auto;
    
}

/* navbar large screen */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 14rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 5rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }
}

/* navbar small screen */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
      }
    
      .logo {
        display: none;
      }
    
      .navbar-nav {
        flex-direction: row;
      }
    
      .nav-link {
        justify-content: center;
      }
    
      main {
        margin: 0;
      }
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;

    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}


.logo {
    width: 100%;
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    list-style: none;
    z-index: 255;
};

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
    /* transition: transform var(--transition-speed); */
}

.link-text {
    display: none;
    margin-left: 1.5rem;
}

.nav-link svg{
    min-width: 2rem;
    max-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: green;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}


/* scrollbars */

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--black);
}

body::-webkit-scrollbar-thumb{
    background: var(--white);
}


/* landing page */

.landing {
    font-family: var(--font-monospace);
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;

}

.landing section > * {
	box-sizing: border-box;
	padding: 0;
	max-width: 40em;
	margin: 1rem auto;
}

.landing h2 {
	padding: 0 0.3em;
	font-size: 1.17rem;
	font-weight: 500;
	text-align: center;
}

#art {
	position: relative;
	width: 2.884in;
	height: 5.863in;
	margin: 0 auto 0.2in;
	background-image: url("/landing-art.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

#art::after {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	text-align: center;
	font-size: x-small;
}


#resume h3 a{
	font-size: initial;
	font-weight: initial;
}


/* MEDIA QUERIES */

@media (min-height: 5.863in) and (min-width: 7in) {
	.landing section {
		width: 46%;
		text-align: left;
		vertical-align: top;
		display: inline-block;
	}
}
